Source: eos-node-modules
Section: non-free/web
Priority: optional
Maintainer: Philip Chimento <philip@endlessm.com>
Build-Depends: apt,
               ca-certificates,
               debhelper (>= 9),
               nodejs-legacy,
               npm,
               python
Standards-Version: 3.9.4
Vcs-Git: https://github.com/endlessm/eos-node-modules

Package: eos-node-modules
Architecture: any
Depends: ${misc:Depends},
         ${npm:Overlaps}
Suggests: nodejs,
          nodejs-legacy
Conflicts: ${npm:ProdPkgs}
Description: Node.js modules required in EndlessOS
 Modules that will be installed on every user's system, for example required for
 the content center or the knowledge engine.

Package: eos-node-modules-dev
Architecture: any
Depends: ${misc:Depends},
         eos-node-modules (>= ${binary:Version}),
         nodejs,
         nodejs-legacy
Conflicts: ${npm:DevPkgs}
Description: Node.js modules required for developing EndlessOS
 Modules that will not be installed on every user's system but are required for
 building other packages.
